<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>
</head>
<body class="container">

<header>
    <%#- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Todo: <%= title %></h1>

        <p>Reporter: <%= reporter %></p>
        <p>Assignee: <%= assignee %></p>
        <p>Created at: <%= createdAt %></p>

    </div>
</main>

<footer>
    <%#- include('../partials/footer'); %>
</footer>

</body>
</html>